<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <figure class="figure">
        <img
          src="../../../assets/img/undraw_Dev_focus_re_6iwt.svg"
          class="figure-img img-fluid rounded"
          alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure."
        />
        <figcaption class="figure-caption"></figcaption>
      </figure>
    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
