<div class="card">
  <div class="card-body">
    <h3 class="card-title"><b>TaskAdmin - Criar conta</b></h3>
    <form class="mt-5" [formGroup]="orderForm">
      <div class="form-group ">
        <input
          type="text"
          class="form-control mt-2"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Nome"
          formControlName='userName'
          [ngClass]="{'is-invalid': orderForm.get('userName')?.errors?.required && (!orderForm.invalid || orderForm.get('userName')?.touched)}"
        />
        <app-v-mensagem-form
        *ngIf="orderForm.get('userName')?.errors?.required &&
          orderForm.get('userName')?.touched"
          errorMsg="Campo é obrigatório "></app-v-mensagem-form>
          <app-v-mensagem-form
          *ngIf="orderForm.get('userName')?.errors?.email &&
            orderForm.get('userName')?.touched"
            errorMsg="No mínimo 4 carácter"></app-v-mensagem-form>
      </div>
      <div class="form-group ">
        <input
          type="email"
          class="form-control mt-2"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="E-mail"
          formControlName='email'
          [ngClass]="{'is-invalid': orderForm.get('email')?.errors?.required && (!orderForm.invalid || orderForm.get('email')?.touched)}"
        />
        <app-v-mensagem-form
        *ngIf="orderForm.get('email')?.errors?.required &&
          orderForm.get('email')?.touched"
          errorMsg="Campo é obrigatório "></app-v-mensagem-form>
          <app-v-mensagem-form
          *ngIf="orderForm.get('email')?.errors?.email &&
            orderForm.get('email')?.touched"
            errorMsg="E-mail invalido "></app-v-mensagem-form>
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control mt-3"
          id="exampleInputPassword1"
          placeholder="Senha"
          formControlName='password'
          [ngClass]="{'is-invalid': orderForm.get('password')?.errors?.required && (!orderForm.invalid || orderForm.get('password')?.touched)}"
        />
        <app-v-mensagem-form
        *ngIf="orderForm.get('password')?.errors?.required &&
          orderForm.get('password')?.touched"
          errorMsg="Campo é obrigatório"></app-v-mensagem-form>
          <app-v-mensagem-form
          *ngIf="orderForm.get('password')?.errors?.minLength &&
            orderForm.get('password')?.touched"
            errorMsg="No mínimo 4 carácter"></app-v-mensagem-form>
      </div>
        <button type="submit" class="btn btn-primary btn-block mt-3 form_botao"  [disabled]="orderForm.invalid">Enviar</button>
    </form>
    <div class="mt-3">
      <p>Já possui conta !<a [routerLink]="['']" routerLinkActive="router-link-active"  class="card-link"> Fazer login </a></p>
    </div>


  </div>
</div>
