<h3 class="title__menu"><b>Menu</b></h3>
<hr>
<ul class="ul_menu">
  <li class="ul__li__item">
    <i class="fa fa-home"></i><b><a href="#">Home</a></b>
  </li>
  <li class="ul__li__item">
    <i class="fa fa-newspaper-o" aria-hidden="true"></i> <a href="#">Tarefa</a>
  </li>
  <li class="ul__li__item">
    <i class="fa fa-tachometer" aria-hidden="true"></i> <a href="#">Home</a>
  </li>
  <li class="ul__li__item">
    <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Usuario</a>
  </li>
  <li class="ul__li__item">
    <i class="fa fa-sign-out" aria-hidden="true"></i> <a href="#">Sair</a>
  </li>
</ul>
